@font-face {
    font-family: 'sf_cartoonist_handbold';
    src: url('SF_Cartoonist_Hand_Bold-webfont.eot');
    src: url('SF_Cartoonist_Hand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Cartoonist_Hand_Bold-webfont.woff2') format('woff2'),
         url('SF_Cartoonist_Hand_Bold-webfont.woff') format('woff'),
         url('SF_Cartoonist_Hand_Bold-webfont.ttf') format('truetype'),
         url('SF_Cartoonist_Hand_Bold-webfont.svg#sf_cartoonist_handbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hey_comicregular';
    src: url('hey_comic-webfont.woff2') format('woff2'),
         url('hey_comic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hey_comicregular';
    src: url('hey_comic-webfont.woff2') format('woff2'),
         url('hey_comic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  color: #4C4C4C;
  background-color: #FFF9E0;
}

h1, h2, h3 {
  font-family: sf_cartoonist_handbold, serif
}

p {
font-family: hey_comicregular, serif 
}

a {
  color: #51CC5B;
}

a:hover {
  color: #7FC9FF;
}
